= simple_form_for @podcast, html: { class: 'form-horizontal' } do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :cast_file, as: :file

  .form-actions
    = f.button :submit